.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.101562;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.831543;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.730957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc5{text-shadow:-0.015em 0 rgb(33,37,41),0 0.015em rgb(33,37,41),0.015em 0 rgb(33,37,41),0 -0.015em  rgb(33,37,41);}
.sc4{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc1{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc2{text-shadow:-0.015em 0 rgb(0,0,255),0 0.015em rgb(0,0,255),0.015em 0 rgb(0,0,255),0 -0.015em  rgb(0,0,255);}
.sc6{text-shadow:-0.015em 0 rgb(0,112,192),0 0.015em rgb(0,112,192),0.015em 0 rgb(0,112,192),0 -0.015em  rgb(0,112,192);}
.sc3{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc5{-webkit-text-stroke:0.015em rgb(33,37,41);text-shadow:none;}
.sc4{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(0,0,255);text-shadow:none;}
.sc6{-webkit-text-stroke:0.015em rgb(0,112,192);text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._54{margin-left:-2321.264344px;}
._6b{margin-left:-862.428000px;}
._6c{margin-left:-497.700000px;}
._1f{margin-left:-462.000000px;}
._30{margin-left:-455.052000px;}
._2c{margin-left:-447.444000px;}
._70{margin-left:-437.260000px;}
._29{margin-left:-432.984000px;}
._2f{margin-left:-427.228000px;}
._37{margin-left:-391.408000px;}
._6d{margin-left:-369.940000px;}
._3{margin-left:-362.232000px;}
._2b{margin-left:-358.540000px;}
._4{margin-left:-356.708000px;}
._25{margin-left:-323.288000px;}
._2a{margin-left:-318.504000px;}
._e{margin-left:-306.960000px;}
._2e{margin-left:-301.336000px;}
._0{margin-left:-297.144000px;}
._59{margin-left:-287.032000px;}
._5a{margin-left:-286.000000px;}
._15{margin-left:-280.260000px;}
._10{margin-left:-278.960000px;}
._35{margin-left:-270.532000px;}
._4d{margin-left:-267.108000px;}
._3a{margin-left:-263.032000px;}
._20{margin-left:-261.256000px;}
._62{margin-left:-257.596000px;}
._24{margin-left:-255.944000px;}
._39{margin-left:-254.664000px;}
._26{margin-left:-238.944000px;}
._3f{margin-left:-236.268000px;}
._66{margin-left:-233.907969px;}
._a{margin-left:-231.452000px;}
._42{margin-left:-228.712000px;}
._23{margin-left:-227.668000px;}
._7{margin-left:-225.456000px;}
._43{margin-left:-223.772000px;}
._9{margin-left:-221.904000px;}
._36{margin-left:-220.736000px;}
._48{margin-left:-213.960000px;}
._3d{margin-left:-212.408000px;}
._44{margin-left:-209.772000px;}
._27{margin-left:-208.564000px;}
._6f{margin-left:-205.936000px;}
._5b{margin-left:-204.740000px;}
._50{margin-left:-203.124000px;}
._5d{margin-left:-200.376000px;}
._49{margin-left:-199.220000px;}
._5f{margin-left:-195.804000px;}
._53{margin-left:-192.356000px;}
._45{margin-left:-190.772000px;}
._12{margin-left:-189.460000px;}
._c{margin-left:-186.960000px;}
._d{margin-left:-185.880000px;}
._67{margin-left:-184.124000px;}
._18{margin-left:-182.560000px;}
._6{margin-left:-179.952000px;}
._4f{margin-left:-177.412000px;}
._b{margin-left:-176.200000px;}
._57{margin-left:-175.104000px;}
._41{margin-left:-172.308000px;}
._60{margin-left:-171.304000px;}
._1{margin-left:-169.928000px;}
._1e{margin-left:-168.620000px;}
._4e{margin-left:-166.748000px;}
._3b{margin-left:-164.444000px;}
._68{margin-left:-162.876000px;}
._6a{margin-left:-161.580000px;}
._14{margin-left:-160.460000px;}
._34{margin-left:-159.016000px;}
._f{margin-left:-156.520000px;}
._63{margin-left:-155.188000px;}
._2{margin-left:-153.704000px;}
._1c{margin-left:-151.720000px;}
._56{margin-left:-148.772000px;}
._21{margin-left:-146.804000px;}
._51{margin-left:-144.272000px;}
._28{margin-left:-142.256000px;}
._8{margin-left:-140.952000px;}
._4c{margin-left:-138.276000px;}
._61{margin-left:-134.560000px;}
._11{margin-left:-128.920000px;}
._13{margin-left:-126.120000px;}
._16{margin-left:-121.800000px;}
._38{margin-left:-120.036000px;}
._1a{margin-left:-118.380000px;}
._31{margin-left:-116.120000px;}
._33{margin-left:-114.864000px;}
._22{margin-left:-113.152000px;}
._32{margin-left:-111.524000px;}
._5{margin-left:-109.776000px;}
._6e{margin-left:-107.288000px;}
._5c{margin-left:-105.976000px;}
._3e{margin-left:-103.444000px;}
._65{margin-left:-98.312000px;}
._46{margin-left:-96.872000px;}
._47{margin-left:-95.400000px;}
._64{margin-left:-93.404000px;}
._58{margin-left:-91.896000px;}
._4a{margin-left:-87.624000px;}
._17{margin-left:-85.460000px;}
._19{margin-left:-83.939969px;}
._69{margin-left:-82.272000px;}
._4b{margin-left:-80.000000px;}
._5e{margin-left:-78.212000px;}
._1d{margin-left:-74.460000px;}
._55{margin-left:-72.480000px;}
._52{margin-left:-62.172000px;}
._2d{margin-left:-56.500000px;}
._3c{margin-left:-4.144000px;}
._1b{margin-left:-2.960000px;}
._40{width:1.180000px;}
.fc4{color:rgb(33,37,41);}
.fc0{color:rgb(255,0,0);}
.fc1{color:rgb(0,0,255);}
.fc5{color:rgb(0,112,192);}
.fc2{color:rgb(0,0,0);}
.fc3{color:rgb(255,255,255);}
.fs3{font-size:72.000000px;}
.fs2{font-size:80.000000px;}
.fs5{font-size:88.000000px;}
.fs1{font-size:96.000000px;}
.fs4{font-size:112.000000px;}
.fs6{font-size:128.000000px;}
.fs0{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.y28{bottom:6.355331px;}
.y18{bottom:19.401806px;}
.y3{bottom:20.347315px;}
.y2{bottom:20.347364px;}
.y8{bottom:21.012459px;}
.y7{bottom:22.246559px;}
.y6{bottom:23.333809px;}
.y1f{bottom:24.798929px;}
.yf{bottom:34.799408px;}
.y11{bottom:40.518616px;}
.y13{bottom:45.530548px;}
.y27{bottom:50.853096px;}
.y29{bottom:51.935284px;}
.ye{bottom:58.799402px;}
.y10{bottom:64.518614px;}
.y12{bottom:67.590496px;}
.yd{bottom:82.799402px;}
.y5a{bottom:90.192505px;}
.y35{bottom:101.761250px;}
.y58{bottom:142.556061px;}
.y59{bottom:144.130859px;}
.y3e{bottom:152.955921px;}
.y34{bottom:154.810169px;}
.y42{bottom:155.242908px;}
.y2b{bottom:158.414438px;}
.y56{bottom:182.156067px;}
.y38{bottom:182.710068px;}
.y57{bottom:183.730865px;}
.y19{bottom:190.770090px;}
.y45{bottom:194.902847px;}
.y41{bottom:205.966938px;}
.y33{bottom:206.475666px;}
.y37{bottom:206.710072px;}
.yb{bottom:213.335743px;}
.y44{bottom:218.902851px;}
.y54{bottom:221.901840px;}
.y1e{bottom:222.171783px;}
.y55{bottom:223.476639px;}
.y36{bottom:230.710072px;}
.y22{bottom:232.470718px;}
.y43{bottom:242.902851px;}
.y24{bottom:244.687653px;}
.y26{bottom:248.327400px;}
.y17{bottom:248.849375px;}
.y49{bottom:254.213669px;}
.y1d{bottom:255.771774px;}
.y32{bottom:257.199696px;}
.y40{bottom:260.884480px;}
.y52{bottom:261.501846px;}
.y2d{bottom:263.075480px;}
.y53{bottom:263.076645px;}
.y2c{bottom:263.437845px;}
.y21{bottom:266.070724px;}
.y47{bottom:268.713493px;}
.y48{bottom:275.813669px;}
.y25{bottom:278.047298px;}
.y23{bottom:278.287655px;}
.y1c{bottom:289.371780px;}
.y20{bottom:299.670727px;}
.y50{bottom:301.101852px;}
.y51{bottom:302.676651px;}
.ya{bottom:307.026955px;}
.y46{bottom:311.913492px;}
.y31{bottom:312.117252px;}
.y1b{bottom:322.971786px;}
.y4e{bottom:340.701866px;}
.y4f{bottom:342.276665px;}
.y3d{bottom:345.915169px;}
.y3a{bottom:354.811775px;}
.y1a{bottom:356.571789px;}
.y30{bottom:363.705147px;}
.y3c{bottom:368.169964px;}
.y9{bottom:379.609947px;}
.y4c{bottom:380.301872px;}
.y4d{bottom:381.876671px;}
.y3b{bottom:390.480900px;}
.y2a{bottom:390.645227px;}
.y39{bottom:398.011774px;}
.y2f{bottom:406.905146px;}
.y1{bottom:409.467812px;}
.y4a{bottom:419.756092px;}
.y4b{bottom:421.330891px;}
.y3f{bottom:423.227909px;}
.y16{bottom:488.138931px;}
.y14{bottom:489.097750px;}
.y15{bottom:489.226175px;}
.y5{bottom:490.680550px;}
.yc{bottom:491.153181px;}
.y4{bottom:491.874802px;}
.y2e{bottom:494.325781px;}
.ha{height:47.988281px;}
.h5{height:54.000000px;}
.h4{height:60.000000px;}
.h6{height:64.054688px;}
.hc{height:66.000000px;}
.h3{height:71.171875px;}
.h9{height:72.000000px;}
.hb{height:78.289062px;}
.h8{height:84.000000px;}
.h2{height:85.406250px;}
.h7{height:99.640625px;}
.hd{height:113.875000px;}
.h1{height:128.109375px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xa6{left:32.893799px;}
.xbf{left:37.018799px;}
.xa5{left:42.643799px;}
.xa4{left:67.400848px;}
.xa3{left:71.525848px;}
.xbe{left:85.643799px;}
.x23{left:91.141022px;}
.xbd{left:93.502544px;}
.xbc{left:97.627544px;}
.x3f{left:104.426155px;}
.x62{left:112.367493px;}
.x61{left:116.492493px;}
.xa2{left:118.782898px;}
.xa1{left:122.907898px;}
.x3b{left:123.968323px;}
.x12{left:162.919159px;}
.xbb{left:164.486290px;}
.xba{left:168.611298px;}
.xa0{left:179.414948px;}
.x9f{left:183.539948px;}
.x40{left:189.165558px;}
.x60{left:199.367493px;}
.x22{left:202.746490px;}
.x32{left:216.811150px;}
.xb9{left:220.345032px;}
.xb8{left:224.470032px;}
.x11{left:231.432953px;}
.x41{left:236.853058px;}
.x31{left:241.061150px;}
.x9e{left:246.046997px;}
.x2a{left:248.705353px;}
.x3{left:250.498077px;}
.x2b{left:261.080353px;}
.xb7{left:265.203781px;}
.x5f{left:277.742493px;}
.x5e{left:281.867493px;}
.x73{left:285.367493px;}
.x5d{left:288.867493px;}
.x8f{left:290.117493px;}
.x72{left:295.117493px;}
.x24{left:296.714272px;}
.x9d{left:302.554047px;}
.x9c{left:306.679047px;}
.xb6{left:314.562531px;}
.x5{left:318.616547px;}
.x25{left:319.629395px;}
.x5c{left:344.742493px;}
.x5b{left:348.867493px;}
.xb5{left:350.796265px;}
.x71{left:353.742493px;}
.x5a{left:355.867493px;}
.x70{left:357.867493px;}
.x84{left:359.242493px;}
.x83{left:367.492493px;}
.x9b{left:370.186096px;}
.x9a{left:374.311096px;}
.x15{left:389.075165px;}
.x14{left:398.241020px;}
.x8e{left:402.492493px;}
.xb4{left:407.530029px;}
.x21{left:409.351562px;}
.x59{left:412.242493px;}
.x6f{left:415.117493px;}
.x58{left:416.367493px;}
.x6e{left:419.242493px;}
.x99{left:420.693146px;}
.x10{left:436.434692px;}
.x82{left:440.367493px;}
.x8d{left:446.742493px;}
.x8c{left:450.867493px;}
.xb3{left:457.138763px;}
.xb2{left:461.263763px;}
.x20{left:470.250000px;}
.x6d{left:471.992493px;}
.x3c{left:476.240417px;}
.xf{left:480.380005px;}
.x6c{left:481.742493px;}
.x36{left:484.752777px;}
.x57{left:489.242493px;}
.xb{left:490.692520px;}
.x56{left:493.367493px;}
.x44{left:494.589844px;}
.x35{left:497.815277px;}
.xb1{left:504.122528px;}
.x46{left:506.964844px;}
.x81{left:508.367493px;}
.x7{left:511.639458px;}
.x7a{left:512.992493px;}
.x28{left:514.155029px;}
.x42{left:517.062439px;}
.x43{left:520.124939px;}
.x45{left:531.464844px;}
.x4{left:533.820862px;}
.x55{left:537.617493px;}
.x1{left:540.639648px;}
.x54{left:541.742493px;}
.x98{left:547.707245px;}
.x16{left:549.331757px;}
.x8b{left:550.367493px;}
.x34{left:551.428680px;}
.x6b{left:553.742493px;}
.x6a{left:557.867493px;}
.x2d{left:562.462372px;}
.xb0{left:565.981262px;}
.x53{left:570.992493px;}
.x9{left:573.503128px;}
.x52{left:575.117493px;}
.xa{left:580.378128px;}
.x80{left:584.492493px;}
.x79{left:589.117493px;}
.x33{left:593.616180px;}
.x2c{left:602.399872px;}
.x8a{left:603.617493px;}
.x97{left:605.589294px;}
.x69{left:607.742493px;}
.x96{left:609.714294px;}
.x51{left:610.742493px;}
.x68{left:611.867493px;}
.x50{left:614.867493px;}
.xc7{left:616.742493px;}
.xaf{left:618.965027px;}
.x13{left:621.490242px;}
.x37{left:627.565277px;}
.x26{left:628.783173px;}
.x30{left:632.901909px;}
.x3a{left:637.526909px;}
.xc6{left:641.242493px;}
.x78{left:643.117493px;}
.xc5{left:645.367493px;}
.x6{left:647.605232px;}
.x2e{left:651.589409px;}
.x7f{left:653.242493px;}
.x4f{left:656.242493px;}
.x7e{left:657.367493px;}
.x4e{left:660.367493px;}
.x89{left:661.367615px;}
.x95{left:664.846313px;}
.xae{left:666.073730px;}
.x19{left:667.636047px;}
.x94{left:668.971313px;}
.xc4{left:671.617493px;}
.x38{left:675.526909px;}
.x2f{left:676.901909px;}
.x39{left:681.776909px;}
.x27{left:686.832031px;}
.x67{left:691.117493px;}
.x66{left:695.242493px;}
.xad{left:699.432495px;}
.x93{left:700.853394px;}
.x29{left:702.207062px;}
.x88{left:704.242493px;}
.x87{left:708.367493px;}
.x77{left:713.492493px;}
.x65{left:714.742493px;}
.x76{left:717.617493px;}
.xc{left:719.055866px;}
.x4d{left:724.992493px;}
.x86{left:727.867493px;}
.x4c{left:729.117493px;}
.x75{left:732.242493px;}
.x7d{left:734.242493px;}
.x74{left:736.367493px;}
.x8{left:739.104805px;}
.x17{left:742.946686px;}
.xc3{left:745.742493px;}
.xc2{left:749.867493px;}
.x18{left:756.696594px;}
.x85{left:760.867493px;}
.x1f{left:764.205276px;}
.x92{left:766.235474px;}
.x4b{left:768.742493px;}
.x91{left:770.360474px;}
.x4a{left:772.867493px;}
.x1c{left:777.134094px;}
.xac{left:796.900024px;}
.x3e{left:797.900810px;}
.xab{left:801.025024px;}
.xe{left:808.520302px;}
.xc1{left:810.492493px;}
.x1a{left:812.759094px;}
.xc0{left:814.617493px;}
.x7c{left:819.242493px;}
.x64{left:821.117493px;}
.x7b{left:823.367493px;}
.x3d{left:826.150810px;}
.x49{left:827.492493px;}
.x1b{left:829.571594px;}
.x48{left:831.617493px;}
.x90{left:836.742493px;}
.x1d{left:839.933533px;}
.x1e{left:841.455276px;}
.xaa{left:845.758728px;}
.xa9{left:849.883728px;}
.xd{left:863.770294px;}
.xa8{left:874.242493px;}
.xa7{left:878.367493px;}
.x2{left:880.291550px;}
.x63{left:927.117493px;}
.x47{left:933.992493px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._54{margin-left:-3095.019126pt;}
._6b{margin-left:-1149.904000pt;}
._6c{margin-left:-663.600000pt;}
._1f{margin-left:-616.000000pt;}
._30{margin-left:-606.736000pt;}
._2c{margin-left:-596.592000pt;}
._70{margin-left:-583.013333pt;}
._29{margin-left:-577.312000pt;}
._2f{margin-left:-569.637333pt;}
._37{margin-left:-521.877333pt;}
._6d{margin-left:-493.253333pt;}
._3{margin-left:-482.976000pt;}
._2b{margin-left:-478.053333pt;}
._4{margin-left:-475.610667pt;}
._25{margin-left:-431.050667pt;}
._2a{margin-left:-424.672000pt;}
._e{margin-left:-409.280000pt;}
._2e{margin-left:-401.781333pt;}
._0{margin-left:-396.192000pt;}
._59{margin-left:-382.709333pt;}
._5a{margin-left:-381.333333pt;}
._15{margin-left:-373.680000pt;}
._10{margin-left:-371.946667pt;}
._35{margin-left:-360.709333pt;}
._4d{margin-left:-356.144000pt;}
._3a{margin-left:-350.709333pt;}
._20{margin-left:-348.341333pt;}
._62{margin-left:-343.461333pt;}
._24{margin-left:-341.258667pt;}
._39{margin-left:-339.552000pt;}
._26{margin-left:-318.592000pt;}
._3f{margin-left:-315.024000pt;}
._66{margin-left:-311.877293pt;}
._a{margin-left:-308.602667pt;}
._42{margin-left:-304.949333pt;}
._23{margin-left:-303.557333pt;}
._7{margin-left:-300.608000pt;}
._43{margin-left:-298.362667pt;}
._9{margin-left:-295.872000pt;}
._36{margin-left:-294.314667pt;}
._48{margin-left:-285.280000pt;}
._3d{margin-left:-283.210667pt;}
._44{margin-left:-279.696000pt;}
._27{margin-left:-278.085333pt;}
._6f{margin-left:-274.581333pt;}
._5b{margin-left:-272.986667pt;}
._50{margin-left:-270.832000pt;}
._5d{margin-left:-267.168000pt;}
._49{margin-left:-265.626667pt;}
._5f{margin-left:-261.072000pt;}
._53{margin-left:-256.474667pt;}
._45{margin-left:-254.362667pt;}
._12{margin-left:-252.613333pt;}
._c{margin-left:-249.280000pt;}
._d{margin-left:-247.840000pt;}
._67{margin-left:-245.498667pt;}
._18{margin-left:-243.413333pt;}
._6{margin-left:-239.936000pt;}
._4f{margin-left:-236.549333pt;}
._b{margin-left:-234.933333pt;}
._57{margin-left:-233.472000pt;}
._41{margin-left:-229.744000pt;}
._60{margin-left:-228.405333pt;}
._1{margin-left:-226.570667pt;}
._1e{margin-left:-224.826667pt;}
._4e{margin-left:-222.330667pt;}
._3b{margin-left:-219.258667pt;}
._68{margin-left:-217.168000pt;}
._6a{margin-left:-215.440000pt;}
._14{margin-left:-213.946667pt;}
._34{margin-left:-212.021333pt;}
._f{margin-left:-208.693333pt;}
._63{margin-left:-206.917333pt;}
._2{margin-left:-204.938667pt;}
._1c{margin-left:-202.293333pt;}
._56{margin-left:-198.362667pt;}
._21{margin-left:-195.738667pt;}
._51{margin-left:-192.362667pt;}
._28{margin-left:-189.674667pt;}
._8{margin-left:-187.936000pt;}
._4c{margin-left:-184.368000pt;}
._61{margin-left:-179.413333pt;}
._11{margin-left:-171.893333pt;}
._13{margin-left:-168.160000pt;}
._16{margin-left:-162.400000pt;}
._38{margin-left:-160.048000pt;}
._1a{margin-left:-157.840000pt;}
._31{margin-left:-154.826667pt;}
._33{margin-left:-153.152000pt;}
._22{margin-left:-150.869333pt;}
._32{margin-left:-148.698667pt;}
._5{margin-left:-146.368000pt;}
._6e{margin-left:-143.050667pt;}
._5c{margin-left:-141.301333pt;}
._3e{margin-left:-137.925333pt;}
._65{margin-left:-131.082667pt;}
._46{margin-left:-129.162667pt;}
._47{margin-left:-127.200000pt;}
._64{margin-left:-124.538667pt;}
._58{margin-left:-122.528000pt;}
._4a{margin-left:-116.832000pt;}
._17{margin-left:-113.946667pt;}
._19{margin-left:-111.919959pt;}
._69{margin-left:-109.696000pt;}
._4b{margin-left:-106.666667pt;}
._5e{margin-left:-104.282667pt;}
._1d{margin-left:-99.280000pt;}
._55{margin-left:-96.640000pt;}
._52{margin-left:-82.896000pt;}
._2d{margin-left:-75.333333pt;}
._3c{margin-left:-5.525333pt;}
._1b{margin-left:-3.946667pt;}
._40{width:1.573333pt;}
.fs3{font-size:96.000000pt;}
.fs2{font-size:106.666667pt;}
.fs5{font-size:117.333333pt;}
.fs1{font-size:128.000000pt;}
.fs4{font-size:149.333333pt;}
.fs6{font-size:170.666667pt;}
.fs0{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.y28{bottom:8.473775pt;}
.y18{bottom:25.869075pt;}
.y3{bottom:27.129753pt;}
.y2{bottom:27.129819pt;}
.y8{bottom:28.016612pt;}
.y7{bottom:29.662079pt;}
.y6{bottom:31.111745pt;}
.y1f{bottom:33.065239pt;}
.yf{bottom:46.399211pt;}
.y11{bottom:54.024821pt;}
.y13{bottom:60.707397pt;}
.y27{bottom:67.804128pt;}
.y29{bottom:69.247045pt;}
.ye{bottom:78.399203pt;}
.y10{bottom:86.024818pt;}
.y12{bottom:90.120661pt;}
.yd{bottom:110.399203pt;}
.y5a{bottom:120.256673pt;}
.y35{bottom:135.681666pt;}
.y58{bottom:190.074748pt;}
.y59{bottom:192.174479pt;}
.y3e{bottom:203.941228pt;}
.y34{bottom:206.413559pt;}
.y42{bottom:206.990545pt;}
.y2b{bottom:211.219251pt;}
.y56{bottom:242.874756pt;}
.y38{bottom:243.613424pt;}
.y57{bottom:244.974487pt;}
.y19{bottom:254.360120pt;}
.y45{bottom:259.870463pt;}
.y41{bottom:274.622584pt;}
.y33{bottom:275.300888pt;}
.y37{bottom:275.613429pt;}
.yb{bottom:284.447657pt;}
.y44{bottom:291.870468pt;}
.y54{bottom:295.869120pt;}
.y1e{bottom:296.229045pt;}
.y55{bottom:297.968852pt;}
.y36{bottom:307.613429pt;}
.y22{bottom:309.960958pt;}
.y43{bottom:323.870468pt;}
.y24{bottom:326.250203pt;}
.y26{bottom:331.103200pt;}
.y17{bottom:331.799166pt;}
.y49{bottom:338.951558pt;}
.y1d{bottom:341.029032pt;}
.y32{bottom:342.932927pt;}
.y40{bottom:347.845973pt;}
.y52{bottom:348.669128pt;}
.y2d{bottom:350.767306pt;}
.y53{bottom:350.768860pt;}
.y2c{bottom:351.250460pt;}
.y21{bottom:354.760966pt;}
.y47{bottom:358.284658pt;}
.y48{bottom:367.751559pt;}
.y25{bottom:370.729731pt;}
.y23{bottom:371.050207pt;}
.y1c{bottom:385.829041pt;}
.y20{bottom:399.560969pt;}
.y50{bottom:401.469137pt;}
.y51{bottom:403.568868pt;}
.ya{bottom:409.369273pt;}
.y46{bottom:415.884656pt;}
.y31{bottom:416.156336pt;}
.y1b{bottom:430.629049pt;}
.y4e{bottom:454.269155pt;}
.y4f{bottom:456.368886pt;}
.y3d{bottom:461.220225pt;}
.y3a{bottom:473.082367pt;}
.y1a{bottom:475.429052pt;}
.y30{bottom:484.940196pt;}
.y3c{bottom:490.893285pt;}
.y9{bottom:506.146596pt;}
.y4c{bottom:507.069163pt;}
.y4d{bottom:509.168894pt;}
.y3b{bottom:520.641200pt;}
.y2a{bottom:520.860303pt;}
.y39{bottom:530.682365pt;}
.y2f{bottom:542.540194pt;}
.y1{bottom:545.957082pt;}
.y4a{bottom:559.674789pt;}
.y4b{bottom:561.774521pt;}
.y3f{bottom:564.303879pt;}
.y16{bottom:650.851908pt;}
.y14{bottom:652.130333pt;}
.y15{bottom:652.301567pt;}
.y5{bottom:654.240733pt;}
.yc{bottom:654.870908pt;}
.y4{bottom:655.833069pt;}
.y2e{bottom:659.101041pt;}
.ha{height:63.984375pt;}
.h5{height:72.000000pt;}
.h4{height:80.000000pt;}
.h6{height:85.406250pt;}
.hc{height:88.000000pt;}
.h3{height:94.895833pt;}
.h9{height:96.000000pt;}
.hb{height:104.385417pt;}
.h8{height:112.000000pt;}
.h2{height:113.875000pt;}
.h7{height:132.854167pt;}
.hd{height:151.833333pt;}
.h1{height:170.812500pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xa6{left:43.858398pt;}
.xbf{left:49.358398pt;}
.xa5{left:56.858398pt;}
.xa4{left:89.867798pt;}
.xa3{left:95.367798pt;}
.xbe{left:114.191732pt;}
.x23{left:121.521362pt;}
.xbd{left:124.670059pt;}
.xbc{left:130.170059pt;}
.x3f{left:139.234873pt;}
.x62{left:149.823324pt;}
.x61{left:155.323324pt;}
.xa2{left:158.377197pt;}
.xa1{left:163.877197pt;}
.x3b{left:165.291097pt;}
.x12{left:217.225545pt;}
.xbb{left:219.315053pt;}
.xba{left:224.815063pt;}
.xa0{left:239.219930pt;}
.x9f{left:244.719930pt;}
.x40{left:252.220744pt;}
.x60{left:265.823324pt;}
.x22{left:270.328654pt;}
.x32{left:289.081533pt;}
.xb9{left:293.793376pt;}
.xb8{left:299.293376pt;}
.x11{left:308.577271pt;}
.x41{left:315.804077pt;}
.x31{left:321.414866pt;}
.x9e{left:328.062663pt;}
.x2a{left:331.607137pt;}
.x3{left:333.997437pt;}
.x2b{left:348.107137pt;}
.xb7{left:353.605042pt;}
.x5f{left:370.323324pt;}
.x5e{left:375.823324pt;}
.x73{left:380.489990pt;}
.x5d{left:385.156657pt;}
.x8f{left:386.823324pt;}
.x72{left:393.489990pt;}
.x24{left:395.619029pt;}
.x9d{left:403.405396pt;}
.x9c{left:408.905396pt;}
.xb6{left:419.416707pt;}
.x5{left:424.822062pt;}
.x25{left:426.172526pt;}
.x5c{left:459.656657pt;}
.x5b{left:465.156657pt;}
.xb5{left:467.728353pt;}
.x71{left:471.656657pt;}
.x5a{left:474.489990pt;}
.x70{left:477.156657pt;}
.x84{left:478.989990pt;}
.x83{left:489.989990pt;}
.x9b{left:493.581462pt;}
.x9a{left:499.081462pt;}
.x15{left:518.766886pt;}
.x14{left:530.988027pt;}
.x8e{left:536.656657pt;}
.xb4{left:543.373372pt;}
.x21{left:545.802083pt;}
.x59{left:549.656657pt;}
.x6f{left:553.489990pt;}
.x58{left:555.156657pt;}
.x6e{left:558.989990pt;}
.x99{left:560.924194pt;}
.x10{left:581.912923pt;}
.x82{left:587.156657pt;}
.x8d{left:595.656657pt;}
.x8c{left:601.156657pt;}
.xb3{left:609.518351pt;}
.xb2{left:615.018351pt;}
.x20{left:627.000000pt;}
.x6d{left:629.323324pt;}
.x3c{left:634.987223pt;}
.xf{left:640.506673pt;}
.x6c{left:642.323324pt;}
.x36{left:646.337036pt;}
.x57{left:652.323324pt;}
.xb{left:654.256694pt;}
.x56{left:657.823324pt;}
.x44{left:659.453125pt;}
.x35{left:663.753703pt;}
.xb1{left:672.163371pt;}
.x46{left:675.953125pt;}
.x81{left:677.823324pt;}
.x7{left:682.185944pt;}
.x7a{left:683.989990pt;}
.x28{left:685.540039pt;}
.x42{left:689.416585pt;}
.x43{left:693.499919pt;}
.x45{left:708.619792pt;}
.x4{left:711.761149pt;}
.x55{left:716.823324pt;}
.x1{left:720.852865pt;}
.x54{left:722.323324pt;}
.x98{left:730.276326pt;}
.x16{left:732.442342pt;}
.x8b{left:733.823324pt;}
.x34{left:735.238241pt;}
.x6b{left:738.323324pt;}
.x6a{left:743.823324pt;}
.x2d{left:749.949829pt;}
.xb0{left:754.641683pt;}
.x53{left:761.323324pt;}
.x9{left:764.670837pt;}
.x52{left:766.823324pt;}
.xa{left:773.837504pt;}
.x80{left:779.323324pt;}
.x79{left:785.489990pt;}
.x33{left:791.488241pt;}
.x2c{left:803.199829pt;}
.x8a{left:804.823324pt;}
.x97{left:807.452393pt;}
.x69{left:810.323324pt;}
.x96{left:812.952393pt;}
.x51{left:814.323324pt;}
.x68{left:815.823324pt;}
.x50{left:819.823324pt;}
.xc7{left:822.323324pt;}
.xaf{left:825.286702pt;}
.x13{left:828.653656pt;}
.x37{left:836.753703pt;}
.x26{left:838.377563pt;}
.x30{left:843.869212pt;}
.x3a{left:850.035878pt;}
.xc6{left:854.989990pt;}
.x78{left:857.489990pt;}
.xc5{left:860.489990pt;}
.x6{left:863.473643pt;}
.x2e{left:868.785878pt;}
.x7f{left:870.989990pt;}
.x4f{left:874.989990pt;}
.x7e{left:876.489990pt;}
.x4e{left:880.489990pt;}
.x89{left:881.823486pt;}
.x95{left:886.461751pt;}
.xae{left:888.098307pt;}
.x19{left:890.181396pt;}
.x94{left:891.961751pt;}
.xc4{left:895.489990pt;}
.x38{left:900.702545pt;}
.x2f{left:902.535878pt;}
.x39{left:909.035878pt;}
.x27{left:915.776042pt;}
.x67{left:921.489990pt;}
.x66{left:926.989990pt;}
.xad{left:932.576660pt;}
.x93{left:934.471191pt;}
.x29{left:936.276082pt;}
.x88{left:938.989990pt;}
.x87{left:944.489990pt;}
.x77{left:951.323324pt;}
.x65{left:952.989990pt;}
.x76{left:956.823324pt;}
.xc{left:958.741155pt;}
.x4d{left:966.656657pt;}
.x86{left:970.489990pt;}
.x4c{left:972.156657pt;}
.x75{left:976.323324pt;}
.x7d{left:978.989990pt;}
.x74{left:981.823324pt;}
.x8{left:985.473073pt;}
.x17{left:990.595581pt;}
.xc3{left:994.323324pt;}
.xc2{left:999.823324pt;}
.x18{left:1008.928792pt;}
.x85{left:1014.489990pt;}
.x1f{left:1018.940369pt;}
.x92{left:1021.647298pt;}
.x4b{left:1024.989990pt;}
.x91{left:1027.147298pt;}
.x4a{left:1030.489990pt;}
.x1c{left:1036.178792pt;}
.xac{left:1062.533366pt;}
.x3e{left:1063.867747pt;}
.xab{left:1068.033366pt;}
.xe{left:1078.027069pt;}
.xc1{left:1080.656657pt;}
.x1a{left:1083.678792pt;}
.xc0{left:1086.156657pt;}
.x7c{left:1092.323324pt;}
.x64{left:1094.823324pt;}
.x7b{left:1097.823324pt;}
.x3d{left:1101.534414pt;}
.x49{left:1103.323324pt;}
.x1b{left:1106.095459pt;}
.x48{left:1108.823324pt;}
.x90{left:1115.656657pt;}
.x1d{left:1119.911377pt;}
.x1e{left:1121.940369pt;}
.xaa{left:1127.678304pt;}
.xa9{left:1133.178304pt;}
.xd{left:1151.693726pt;}
.xa8{left:1165.656657pt;}
.xa7{left:1171.156657pt;}
.x2{left:1173.722066pt;}
.x63{left:1236.156657pt;}
.x47{left:1245.323324pt;}
}
